.ProductSection {
    display: flex;
}

.ProductSection>aside {
    width: 20%;
    padding: 1%;
}

.Filters_Title {
    text-align: center;
    background-color: white;
    margin: 0 auto;
    font-size: 20px;
}

.hr1 {
    height: 5px;
    border-width: 2px;
    size: 2px;
}

aside>form>button[type="submit"] {
    width: 100%;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductsDIV {
    width: 80%;
}